$spacer: 1rem;

$spacers: (
        0: 0,
        1: ($spacer * .75),
        2: $spacer,
        3: ($spacer * 1.5),
        4: ($spacer * 1.75),
        5: ($spacer * 2),
        6: ($spacer * 2.5),
        7: ($spacer * 2.75)
);

$grid-gutter-width: $spacer * 2 !default;
