@import "mixin";
@import "colors";
@include font("Golos", "GolosText_Bold", "800", "normal");
@include font("Golos", "GolosText_Medium", "500", "normal");
@include font("Golos", "GolosText_Regular", "400", "normal");

$font-family-sans-serif: 'Golos' !default;
$font-family-base: 'Golos' !default;

$h1-font-size: 44px !default;
$h2-font-size: 30px !default;
$h3-font-size: 22px !default;
$h4-font-size: 18px !default;
$h5-font-size: 14px !default;
$headings-margin-bottom: 0px !default;

$small-font-size: 14px !default;
$lead-font-size: 20px !default;

$font-weight-bold: 500 !default;

$link-hover-color: map-get($theme-colors, 'purple');
$link-hover-decoration: none !default;
