@import 'elements/mixin';
@import 'elements/fonts';
@import 'elements/reset';
@import 'elements/common';
@import 'elements/header';
@import 'elements/page';
@import 'elements/table';
@import 'elements/event';
@import 'elements/map';
@import 'elements/main-links';
@import 'elements/anket';
@import 'elements/organization';
@import 'elements/newdoc';
@import 'elements/footer';
@import "elements/disability-panel";
