.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  // outline: 2px solid yellow;

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--flex-align-flex-start {
    align-items: flex-start;
  }

  &--flex-align-stretch {
    align-items: stretch;
  }

  @media (max-width: $mobile-device) {
    max-width: 375px;
    padding: 0 16px;
    
    &--flex-col {
      flex-direction: column;
    }

    &--padding24 {
      padding: 0 24px;
    }

    &--padding8 {
      padding: 0 8px;
    }
  }
}

.title {
  padding: 0;
  margin-left: 90px;
  margin-top: 32px;
  max-width: 648px;
  font-size: 1.8em;
  line-height: 1.28;
  font-weight: 400;
  color: var(--header-text-color);

  @media (max-width: $mobile-device) {
    font-size: 0.9em;
    margin-left: 46px;
    margin-top: -24px;
  }
}

.breadcrumb {
  margin: 0;
  margin-top: 24px;
  list-style: none;

  @media (max-width: $mobile-device) {
    padding: 0 24px;
  }

  &__item {
    display: inline;
    font-size: 0.7em;
    line-height: 1.29;
    color: var(--tooltip-color);

    & + &:before {
      content: '';
      display: inline-block;
      margin: 0 12px;
      vertical-align: middle;
      height: 1px;
      width: 48px;
      background-color: var(--separator-light);

      @media (max-width: $mobile-device) {
        display: none;
      }
    }

    @media (max-width: $mobile-device) {
      &:last-child {
        display: none;
      }

      &:not(:nth-last-child(2)) {
        display: none;
      }

      &:nth-last-child(2) {
        display: flex;
        align-items: center;
      
        &::before {
          content: '';
          display: inline-block;
          text-align: center;
          margin: 0;
          margin-right: 8px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-image: url('/img/icon/line/Vector.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 3px 4px;
          background-color: var(--background-white);
          box-shadow: 0px 54px 83px rgba(0, 0, 0, 0.12), 0px 22.5599px 34.6754px rgba(0, 0, 0, 0.0862625), 0px 12.0616px 18.5391px rgba(0, 0, 0, 0.0715329), 0px 6.76164px 10.3929px rgba(0, 0, 0, 0.06), 0px 3.59106px 5.51958px rgba(0, 0, 0, 0.0484671), 0px 1.49432px 2.29682px rgba(0, 0, 0, 0.0337375);
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: var(--interactive-color);
    transition: all 0.3s ease;

    &:hover {
      color: #1161C3;
    }

    &:active {
      color: #0D6ADC;
    }
  }
}