.event {
  background-color: var(--background-white);
  padding-top: 28px;
  padding-left: 40px;
  padding-right: 48px;
  padding-bottom: 32px;
  box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
  border-radius: 4px;
  transition: all 0.3s ease;
  width: calc(50% - 16px);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile-device) {
    width: 100%;
    padding: 20px 24px 24px;

    &:last-child {
      margin-top: 16px;
    }
  }

  &:hover {
    box-shadow: 0 22px 18px rgba(0, 0, 0, 0.3), 
    0px 6px 5px rgba(0, 0, 0, 0.02);
  }

  &__date {
    font-size: 0.7em;
    color: var(--tooltip-color);
  }

  &__title {
    display: block;
    margin-top: 12px;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease; // for announcement

    &-link {
      color: var(--interactive-color);
      text-decoration: none;

      &:hover {
        color: #1161C3;
      }
  
      &:active {
        color: #0D6ADC;
      }
    }

    &--hover-red:hover {
      color: var(--firm-color);
    }

    &--news {
      max-width: 695px;
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: var(--interactive-color);
    font-size: 0.9em;
    font-weight: 500;

    @media (max-width: $mobile-device) {
      margin-top: 32px;

      &--on-mobile {
        display: none;
      }
    }

    &:hover {
      color: #1161C3;
    }

    &:active {
      color: #0D6ADC;
    }

    &--max-width130 {
      max-width: 130px;
    }

    &--max-width150 {
      max-width: 150px;
    }

    &--mt24 {
      margin-top: 24px;
    }

    &--mt52 {
      margin-top: 52px;
    }
  }

  &__wrapper {
    margin-top: -55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $mobile-device) {
      margin-top: -31px;
    }
  }

  &__announcement {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-device) {
      flex-direction: column;
    }
  
    &-wrapper {
      // display: none; // when not auth
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--background-white);
      padding-top: 28px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 32px;
      max-width: 1120px;
      min-height: 362px;
      box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
      border-radius: 4px;
      transition: all 0.3s ease;
      margin-bottom: 32px; // when user auth

      &:hover {
        box-shadow: 0 22px 18px rgba(0, 0, 0, 0.3), 
        0px 6px 5px rgba(0, 0, 0, 0.02);
      }

      @media (max-width: $mobile-device) {
        padding-top: 20px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        margin-bottom: 40px;
      }
    }

    &-item {
      width: calc(33% - 20px);
      display: flex;
      flex-direction: column;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: $mobile-device) {
        width: 100%;

        &--separator::after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: var(--separator-light);
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.main-news {
  margin-top: 64px;

  @media (max-width: $mobile-device) {
    margin-top: 40px;
  }

  &__list {
    margin-top: 24px;

    @media (max-width: $mobile-device) {
      margin-top: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(33% - 16px);
    background-color: var(--background-white);
    box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 22px 18px rgba(0, 0, 0, 0.3), 
      0px 6px 5px rgba(0, 0, 0, 0.02);
    }

    @media (max-width: $mobile-device) {
      width: 100%;
      
      &--off-mobile {
        display: none;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__img {
    border-radius: 4px 4px 0 0;
  }

  &__text {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 24px;
    padding-bottom: 44px;

    @media (max-width: $mobile-device) {
      padding: 24px;
      padding-bottom: 28px;
    }
  }
}

.documents {
  margin-top: 64px;

  @media (max-width: $mobile-device) {
    margin-top: 40px;
  }

  &__wrapper {
    margin-top: 24px;
    background-color: var(--background-white);
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;

    @media (max-width: $mobile-device) {
      padding: 24px;
      padding-bottom: 32px;
      flex-direction: column;
      margin-top: 16px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: calc(50% - 22px);

    @media (max-width: $mobile-device) {
      width: 100%;
    }
  }

  &__head {
    font-weight: 500;
    font-size: 1em;
    color: #000000;

    @media (max-width: $mobile-device) {
      &--mt40 {
        margin-top: 40px;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: flex-start;

    &:first-of-type {
      margin-top: 16px;
    }
  }

  &__text {
    width: calc(100% - 48px);
  }

  &__link {
    color: var(--interactive-color);
    text-decoration: none;

    &:hover {
      color: #1161C3;
    }

    &:active {
      color: #0D6ADC;
    }
  }

  &__source {
    font-size: 0.7em;
    color: var(--tooltip-color);
    margin-top: 8px;

    @media (max-width: $mobile-device) {
      display: none;
    }
  }
}
