.footer {
  margin-top: 64px;
  background-color: var(--background-white);
  padding-top: 32px;
  font-variant-numeric: tabular-nums;

  @media (max-width: $tablet-device-m) {
    margin-top: 40px;
    padding-top: 16px;
  }

  &__border {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--separator-light);

    @media (max-width: $tablet-device-m) {
      padding-bottom: 16px;
      padding-left: 16px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-right: 62px;

    @media (max-width: $tablet-device-l) {
      margin-right: 32px;
    }

    @media (max-width: $tablet-device-m) {
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--flex-grow-1 {
      flex-grow: 1;

      @media (max-width: $tablet-device-m) {
        display: none;
      }
    }

    &-col {
      display: flex;
      flex-direction: column;

      &:last-child {
        margin-top: 23px;

        @media (max-width: $tablet-device-m) {
          margin-top: 0;
          margin-left: 156px;
        }

        @media (max-width: $mobile-device) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }

    @media (max-width: $tablet-device-m) {
      flex-direction: row;
    }

    @media (max-width: $mobile-device) {
      flex-direction: column;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__link {
    font-size: 0.9em;
    color: var(--interactive-color);
    text-decoration: none;
    margin-top: 12px;
    transition: all 0.3s ease;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      color: #1161C3;
    }

    &:active {
      color: #0D6ADC;
    }

    &--active {
      color: var(--tooltip-color);
    }

    &--number {
      font-size: 2.2em;
      font-weight: 500;
      color: var(--text-color);

      @media (max-width: $tablet-device-m) {
        font-size: 1.3em;
      }
    }

    &--mail {
      margin-top: 20px;
      font-weight: 500;
      position: relative;

      &::before {
        content: '';
        background-image: url('/img/email.svg');
        background-repeat: no-repeat;
        background-position: left;
        width: 16px;
        height: 16px;
        display: block;
        background-size: cover;
        position: absolute;
        top: calc(50% - 6px);
        left: -20px;

        @media (max-width: $mobile-device) {
          position: static;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
        }
      }

      @media (max-width: $mobile-device) {
        margin-left: -5px;
      }
    }
  }

  &__description {
    font-size: 0.7em;
    margin-top: 4px;
    position: relative;

    &--icon::before {
      content: '';
      background-image: url('/img/clock.svg');
      background-repeat: no-repeat;
      background-position: left;
      width: 12px;
      height: 12px;
      display: block;
      background-size: cover;
      position: absolute;
      top: calc(50% - 6px);
      left: -16px;
    }

    &--address {
      font-weight: 800;
    }
  }

  &__address {
    margin-top: 4px;
    font-style: normal;
    font-size: 0.9em;
  }

  &__link-map {
    color: var(--interactive-color);
    text-decoration: none;
    font-size: 0.7em;
    margin-top: 6px;

    &:hover {
      color: #1161C3;
    }

    &:active {
      color: #0D6ADC;
    }
  }

  &__copyright {
    padding-top: 24px;
    padding-bottom: 29px;

    @media (max-width: $tablet-device-m) {
      padding-top: 16px;
      padding-bottom: 24px;
    }

    @media (max-width: $mobile-device) {
      padding-bottom: 50px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &-icon {
      margin-right: 16px;
    }
  }

  &__text {
    font-size: 0.7em;
    line-height: 1.29;

    &--mt12 {
      margin-top: 12px;

      @media (max-width: $tablet-device-m) {
        margin-top: 26px;
      }

      @media (max-width: $mobile-device) {
        margin-top: 8px;
      }
    }

    &-wrapper {
      max-width: 482px;
      display: flex;
      flex-direction: column;
      margin-right: auto;

      @media (max-width: $tablet-device-m) {
        max-width: calc(100% - 60px);
      }

      @media (max-width: $mobile-device) {
        width: calc(100% - 40px);
      }
    }
  }
}