.main__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--interactive-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(33% - 16px);
  min-height: 272px;
  background-color: var(--background-white);
  box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 40px;

  &:nth-child(n+4) {
    margin-top: 32px;

    @media (max-width: $mobile-device) {
      margin-top: 16px;
    }
  }

  &-svg path {
    transition: all 0.3s ease;
  }

  &-svg {
    &--icon-rf {
      width: 64px;
      height: 64px;

      @media (max-width: $mobile-device) {
        width: 48px;
        height: 48px;
      }
    }
    &--icon-finance {
      width: 55px;
      height: 64px;

      @media (max-width: $mobile-device) {
        width: 42px;
        height: 48px;
      }
    }
    &--icon-gos {
      width: 79px;
      height: 48px;

      @media (max-width: $mobile-device) {
        width: 53px;
        height: 32px;
      }
    }
    &--icon-into {
      width: 162px;
      height: 64px;

      @media (max-width: $mobile-device) {
        width: 162px;
        height: 64px;
      }
    }
    &--icon-congress {
      width: 88px;
      height: 88px;
    }
    &--icon-it-sprf {
      width: 60px;
      height: 64px;

      @media (max-width: $mobile-device) {
        width: 45px;
        height: 48px;
      }
    }
  }

  &--head {
    align-self: flex-start;

    @media (max-width: $mobile-device) {
      max-width: 270px;
    }
  }

  &:hover {
    color: var(--white-color);
    background-color: var(--firm-color);
    transform: translate(-1px, -4px);

    & .main__link-svg path {
      fill: var(--background-white);
    }
  }

  @media (max-width: $tablet-device-l) {
    width: calc(50% - 16px);
    margin-top: 32px;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  @media (max-width: $tablet-device-m) {
    padding: 24px;
    min-height: 224px;
  }

  @media (max-width: $mobile-device) {
    padding-top: 16px;
    padding-right: 16px;
    width: 100%;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: 16px;
    }
  }

  &-wrapper {
    margin-top: 64px;
    flex-wrap: wrap;

    @media (max-width: $tablet-device-m) {
      margin-top: 40px;
    }
  }
}
