.subjects {
  margin-top: 64px;

  @media (max-width: $mobile-device) {
    margin-top: 40px;
  }

  &__map {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.map {
  background-color: #FFFFFF;
  box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
  border-radius: 4px;
  padding-left: 40px;
  padding-top: 31px;
  padding-bottom: 60px;
  padding-right: 24px;
  margin-right: 32px;
  width: 65%;
  transition: all 0.3s ease;

  @media (max-width: $mobile-device) {
    padding: 19px 24px;
    width: 100%;
    margin-right: 0;
  }

  &__choice {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 116px;

    @media (max-width: $mobile-device) {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 0.7em;
    font-weight: 500;
  }

  &__select {
    margin-top: 8px;
    text-align: center;
    width: 100%;
    height: 56px;
    border: 1px solid #D9D9DE;
    border-radius: 6px;
    padding-left: 16px;
    font-family: 'Golos', 'Arial', sans-serif;
    font-size: 0.9em;
  }

  &__wrapper {

    @media (max-width: $mobile-device) {
      display: none;
    }
  }

  &__svg {
    margin-top: 48px;
    width: 100%;
  }

  &__scale {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $mobile-device) {
      display: none;
    }

    &-button {
      border: none;
      background: none;
      display: flex;
      align-items: center;
      background-color: #F1F5FA;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;

      &:last-child {
        margin-top: 4px;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: none;
    flex-direction: column;
    margin-top: 20px;

    @media (max-width: $mobile-device) {
      display: flex;
    }

    &--mt12 {
      margin-top: 12px;
    }

    &-title {
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.27;
    }

    &-address {
      font-style: normal;
      margin-top: 12px;
    }

    &-contacts {
      margin-top: 20px;
      font-size: 0.7em;
      color: #76767A;
      display: flex;
      flex-direction: column;
      font-variant-numeric: tabular-nums;
    }

    &-tel {
      color: var(--text-color);
      font-size: 1.43em;
      text-decoration: none;
      margin-top: 4px;
    }

    &-link {
      color: #0050B2;
      font-size: 1.43em;
      text-decoration: none;
      margin-top: 20px;

      &:last-child {
        margin-top: 4px;
      }

      &:hover {
        color: #1161C3;
      }
  
      &:active {
        color: #0D6ADC;
      }
    }

    &-button {
      margin-top: 20px;
      border: none;
      background: none;
      cursor: pointer;
      padding: 17px 0;
      font-family: 'Golos', 'Arial', sans-serif;
      font-size: 0.9em;
      line-height: 1.33;
      background-color: #0050B2;
      border-radius: 10px;
      color: #FFFFFF;
      transition: all 0.3s ease;
      border: 2px solid transparent;
      width: 50%;

      &:hover {
        background-image: #1161C4;
      }

      &:active {
        background-image: linear-gradient(180deg, #0050B2 0%, #1161C3 100%);
      }

      &:focus {
        border: 2px solid #9AABF5;
      }
    }
  }
}