.newdoc {
  width: 695px;
  width: 67%;

  &__item {
    display: flex;
    flex-direction: column;

    &--flex-row {
      flex-direction: row;
    }

    &--mt32 {
      margin-top: 32px;
    }

    &--mt24 {
      margin-top: 24px;
    }

    &--mt20 {
      margin-top: 20px;
    }

    &--mt56 {
      margin-top: 56px;
    }

    &--mt52 {
      margin-top: 52px;
    }

    &--mt44 {
      margin-top: 44px;
    }

    &--mt64 {
      margin-top: 64px;
    }
  }

  &__label {
    font-size: 0.9em;
    line-height: 1.33;
    font-weight: 500;
    margin-bottom: 10px;

    &::after {
      content: '*';
      color: #E52E2E;
    }

    &-checkbox {
      font-size: 0.9em;
      line-height: 1.33;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      border-radius: 4px;
      align-items: center;
      border: 2px solid transparent;
      
      &:last-child {
        margin-top: 24px;
      }

      &::before {
        content: '';
        width: 40px;
        height: 24px;
        background-image: url('/img/form/toggle/inactive.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 12px;
        transition: all 0.3s ease;
      }
    }

    &-file {
      margin: 0 auto;
      background-color: var(--background-field);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: var(--frame-color);
      font-size: 0.9em;
      line-height: 1.33;
      width: 100%;
      padding-bottom: 32px;
      cursor: pointer;
      border: 2px solid transparent;

      &-icon {
        margin-top: 32px;
      }

      &-text {
        max-width: 482px;
        margin-top: 16px;
      }
    }

    &-radio {
      font-size: 0.9em;
      line-height: 1.33;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 1px solid var(--separator-light);
      border-radius: 12px;
      padding: 16px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: '';
        width: 23px;
        height: 23px;
        box-shadow: 0 0 0 1px var(--separator-dark);
        display: inline-block;
        border-radius: 50%;
        margin-right: 8px;
        transition: all 0.3s ease;
      }
    }
  }

  &__input {
    border: none;
    background-color: var(--background-field);
    border-radius: 4px;
    font-size: 0.9em;
    line-height: 1.33;
    padding: 16px;
    padding-bottom: 18px;
    font-family: var(--font-family);
    border: 2px solid transparent;

    &:focus {
      border: 2px solid #9AABF5;
    }

    &--width288 {
      width: 288px;
    }
  }

  &__input {
    &-checkbox {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:checked + .newdoc__label-checkbox::before {
        background-image: url('/img/form/toggle/active.svg');
      }

      &:focus + .newdoc__label-checkbox {
        border: 2px solid #9AABF5;
      }
    }

    &-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:focus + .newdoc__label-file {
        border: 2px solid #9AABF5;
      }
    }

    &-radio {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      &:checked + .newdoc__label-radio {
        background-color: #E8F7F3;
        border: 1px solid var(--background-toggle);
      }

      &:checked + .newdoc__label-radio::before {
        border: 4px solid var(--background-white);
        background-color: var(--background-toggle);
        box-shadow: 0 0 0 1px var(--background-toggle);
      }

      &-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    font-variant-numeric: tabular-nums;
    flex-wrap: wrap;

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-horizontal-line {
      background-color: transparent;
      width: 34px;
      height: 62px;
      align-self: flex-end;
      display: flex;
      align-items: center;
      margin-right: 12px;
      margin-left: 12px;

      &:before {
        content: '';
        background-color: var(--separator-dark);
        border-radius: 1px;
        width: 34px;
        height: 2px;
      }
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1.1em;
    line-height: 1.27;
    font-weight: 500;
    padding: 18px 24px;
    margin-right: 40px;
    border-radius: 10px;
    transition: all 0.3s ease;

    &:last-child {
      margin-right: 0;
    }

    &--createdoc {
      border: 2px solid transparent;
      background-color: #0050B2;
      color: var(--white-color);

      &:hover {
        background-color: #1161C4;
      }

      &:active {
        background: linear-gradient(180deg, #0050B2 0%, #1161C3 100%);
      }

      &:focus {
        outline: none;
        border: 2px solid #9AABF5;
      }
    }

    &--reset {
      color: var(--interactive-color);
      border: 1px solid var(--background-interactive);

      &:hover {
        background-color: var(--background-light);
      }

      &:active {
        border: 1px solid #0B63CF;
      }
    }
  }
}

.select-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__options-container {
    background-color: var(--background-field);
    box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
    border-radius: 4px;
    font-size: 0.9em;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    order: 1;

    &.active {
      max-height: 200px;
      opacity: 1;
      overflow-y: scroll;

      & + .select-box__selected::after {
        transform: rotate(180deg);
      }
    }
  }

  &__selected {
    background-color: var(--background-field);
    border-radius: 4px;
    margin-bottom: 8px;
    line-height: 1.33;
    order: 0;
    padding: 16px 17px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('/img/icon/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      transition: all 0.3s ease;
    }

    &:active,
    &:focus {
      border: 2px solid #9AABF5;
    }
  }

  &__option {
    cursor: pointer;
    padding: 8px 14px;
    transition: all 0.3s ease;

    &:hover {
      margin: 0 2px;
      border-radius: 4px;
      color: var(--white-color);
      background-color: var(--background-interactive);

      & .select-box__label--tag::before {
        border-color: var(--background-white);
      }
    }
  }

  &__label {
    cursor: pointer;

    &--tag {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        width: 19px;
        height: 19px;
        border: 2px solid var(--text-color);
        border-radius: 4px;
        margin-right: 11px;
        transition: all 0.3s ease;
      }
    }
  }

  &__radio {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__checkbox {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:checked + .select-box__label--tag::before {
      background-color: var(--background-interactive);
      border-color: transparent;
      background-image: url('/img/form/checkbox/checkmark.svg');
      background-size: 11px 8px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

// TODO change js

#extra-material-km-eam {
  display: none;
}

#extra-control-national {
  display: none;
}