.organization {

  &__newdoc {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: #0050B2;
    border-radius: 10px;
    padding: 0 16px;
    height: 46px;
    font-weight: 400;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      background-color: #1161C4;
    }

    &:active {
      background-image: linear-gradient(180deg, #0050B2 0%, #1161C3 100%);
    }

    &:focus {
      outline: none;
      border: 2px solid #9AABF5;
    }
  }

  &__col-size {
    width: 100%;

    &--col1 {
      max-width: 517px;
      margin-right: 20px;
    }

    &--col2 {
      max-width: 127px;
      margin-right: 32px;
    }

    &--col3-4 {
      max-width: 160px;
      margin-right: 24px;
    }
  }
}
