.page {
  margin-top: -76px;
  background-color: var(--background-white);
  box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
  border-radius: 4px;
  padding: 24px 40px 48px;
  max-width: 1120px;

  @media (max-width: $tablet-device-l) {
    margin-top: -64px;
  }

  @media (max-width: $tablet-device-m) {
    margin-top: -24px;
    padding: 16px 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 2.2em;
    line-height: 1.36;

    @media (max-width: $tablet-device-m) {
      font-size: 1.3em;
    }

    @media (max-width: $mobile-device) {
      line-height: 1.27;
    }

    &--max-width {
      max-width: 906px;

      @media (max-width: $tablet-device-l) {
        max-width: 700px;
      }
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.5em;
    color: var(--head-color);

    &--max-width520 {
      max-width: 520px;
    }

    @media (max-width: $tablet-device-m) {
      font-size: 1.1em;
    }
  }

  &__content {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    &--news {
      background-color: var(--background-white);
      box-shadow: 0px 6px 11px rgba(125, 123, 123, 0.04);
      border-radius: 4px;
      padding: 24px 40px;
      margin-top: 16px;

      @media (max-width: $tablet-device-m) {
        padding: 20px 24px 24px 24px;
      }
    }

    &--newdoc {
      margin-top: 48px;
      padding: 0 40px;
      padding-bottom: 23px;

      @media (max-width: $tablet-device-m) {
        padding: 0 24px;
        padding-bottom: 32px;
      }
    }

    @media (max-width: $tablet-device-m) {
      margin-top: 16px;
      flex-direction: column;
    }
  }

  &__ksp,
  &__add-time,
  &__kso-link {
    font-size: 0.7em;
    line-height: 1.29;
  }

  &__ksp {
    max-width: 311px;

    @media (max-width: $tablet-device-m) {
      max-width: none;
    }

    @media (max-width: $tablet-device-l) {
      max-width: 200px;
    }
  }

  &__add-time {
    margin-top: 8px;
  }

  &__text {
    font-size: 0.9em;
    line-height: 1.33;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    &--mt32 {
      margin-top: 32px;

      @media (max-width: $tablet-device-m) {
        margin-top: 16px;
      }
    }

    &--mt0 {
      margin-top: 0;
    }

    &--mr24 {
      margin-right: 24px;
    }

    &--max-width116 {
      max-width: 116px;
      width: 100%;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;

      @media (max-width: $tablet-device-m) {
        width: 100%;
        margin-top: 24px;
      }
    }
  }

  &__social {
    margin-top: 8px;
    display: flex;
    align-items: center;

    &-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 24px;

      &--mobile {
        display: none;

        @media (max-width: $tablet-device-m) {
          display: flex;
        }
      }
      
      &--desktop {

        @media (max-width: $tablet-device-m) {
          display: none;
        }
      }
    }
  }

  &__kso-link {
    margin-bottom: 16px;
    color: var(--interactive-color);
    text-decoration: none;

    &:hover {
      color: #1161C3;
    }

    &:active {
      color: #0D6ADC;
    }
  }

  &__print-version {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    line-height: 1.29;
    color: var(--interactive-color);
    border: 1px solid #0050B2;
    border-radius: 6px;
    max-width: 172px;
    height: 32px;
    padding: 0 8px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--background-light);
      border-color: var(--background-interactive);

      & .page__print-icon path {
        fill: var(--background-interactive);
      }
    }

    &:active {
      border-color: #0B63CF;
      background-color: var(--background-light);
    }

    &:focus {
      outline: none;
      border: 1px solid #0050B2;
      background-color: var(--background-white);
    }
  }

  &__print-icon {
    margin-right: 9px;
    transition: all 0.3s ease;
  }

  &__share {
    display: flex;
    flex-direction: column;

    &-text {
      color: var(--tooltip-color);
      font-size: 0.7em;
      margin-top: 32px;

      &--mtauto {
        margin-top: auto;

        @media (max-width: $tablet-device-m) {
          margin-top: 40px;
        }
      }

      &--mt35 {
        margin-top: 35px;

        @media (max-width: $tablet-device-m) {
          margin-top: 8px;
        }
      }

      &--mt12 {
        margin-top: 12px;
        margin-bottom: auto;
      }
    }
  }

  &__social-link {
    text-decoration: none;
    margin-right: 8px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
